<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

  <!-- <servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-name>jersey.config.server.provider.packages</param-name>
		     <param-value>wasdev.webservices</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping> -->
	<!-- <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>ApplicationConfig</param-value>
        </init-param>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping> -->
</web-app>